/* Esse CSS serve somente para as cores, será importado para cada HTML e usado neles */

main{
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: row;
}


.left-container{
    background-color: var(--color-blue-0);
    width: 25%;
    height: 100%;

    display: inherit;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.welcome-text{
    text-align: center;
    margin-top: 12%;

    display: inherit;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

.left-decor{
    width: 50%;
    height: 9vw;

    margin-bottom: 6%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.lime-square, .orange-square, .red-square {
    border: solid var(--color-white) 0.2vw;
    border-radius: 0.5vw;
}

.lime-square{
    background-color: var(--color-lime);
    width: 28%;
    height: 33%;
}

.orange-square{
    background-color: var(--color-orange);
    width: 28%;
    height: 66%;
}

.red-square{
    background-color: var(--color-red);
    width: 28%;
    height: 100%;
}


header{
    background-color: var(--color-blue-1);
    height: 5%;
    width: 100%;

    padding: 17px;

    align-self: flex-start;
}

.studdle-logo{
    margin-left: 1.1vw;
}

.welcome-title{
    font-size: 24px;
    margin: 0;
}

.switchpage-info{
    font-size: 14px;
    margin: 0;
}

.switchpage-button{
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 45%;
    height: 2.7vw;
    margin-top: 5vw;
    font-size: 18px;

    border: solid var(--color-white) 0.2vw;
    border-radius: 40px;
    user-select: none;

    transition: 0.08s;
    cursor: pointer;
}

.switchpage-button:hover{
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.411);
    transform: scale(1.02);
}




.right-container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;

    background-color: var(--color-dark-gray-0);
    width: 100%;
    height: 100%;
}



// form title

.form-title-container{
    margin-bottom: 30%;
    width: 100%;
}

.form-title{
    font-size: 30px;
    margin: 0;
    width: 40vw;
}

.form-subtitle{
    font-size: 14px;
    margin: 0;
}

// form

form{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--color-white);
}


// alterar o sistema de formulário com o materials


.passwordinput-container, .emailinput-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120%;
    height: 65px;

    background-color: var(--color-white);
    margin: 20px 0;
    border-radius: 100vw;

    color: var(--color-light-gray-1);
}

.passwordinput-container{
    margin-bottom: 22%;
}

.mat-mdc-form-field{
    width: 95%;
    height: 55px;
    align-self: center;
    font-size: 20px;
}

::ng-deep .mat-mdc-text-field-wrapper {
    background-color: transparent;
    border-radius: 40px !important;
    border: none;
}


::ng-deep .mat-mdc-form-field-focus-overlay {
    background-color: rgba(0, 0, 0, 0.05) !important;
}


// remover a borda dos elementos
::ng-deep .mdc-text-field--outlined .mdc-notched-outline__leading,
::ng-deep .mdc-text-field--outlined .mdc-notched-outline__notch,
::ng-deep .mdc-text-field--outlined .mdc-notched-outline__trailing {
    border: none !important;
}

::ng-deep .mat-mdc-text-field-wrapper {
    background-color: transparent;
}

// remover borda do botão de ver senha:
::ng-deep .eye-button {
    background: none !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;

    transform: scale(1.6);

    color: var(--color-light-gray-1) !important;
}

// para alterar a cor do preview "email" e "senha" pra algo mais claro
mat-label{
    color: var(--color-light-gray-1) !important;
    font-size: 18px;
}

// remove a cor diferente lá daquela barra que exibe o local de edição que você está dentro do texto (aquela barra que fica piscando)
::ng-deep .mat-mdc-input-element {
  caret-color: auto !important;
}


::ng-deep .mdc-floating-label--required:not(.mdc-floating-label--hide-required-marker)::after {
  content: "" !important;
}

::ng-deep .mat-mdc-input-element {
  caret-color: auto !important;
  font-size: 18px !important;
}

.login-button{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--color-blue-0);
    color: var(--color-dark-gray-0);
    font-weight: bold;

    width: 45%;
    height: 4vw;
    font-size: 18px;

    border: none;
    border-radius: 40px;
    user-select: none;

    transition: 0.08s;
    cursor: pointer;

    border: solid var(--color-dark-gray-0) 3px;
    box-shadow: 0 0 2px var(--color-blue-0);
}

.login-button:hover{
    box-shadow: 0 0 5px var(--color-blue-0);
    transform: scale(1.02);
}


.eye-icon{
    display: flex;
    align-items: center;

    font-size: 18px;
}
