.overlay {
    position: fixed;

    inset: 0;
    background: rgba(0,0,0,0.5);
}

.popup {
    position: fixed;

    top: 50%;
    left: 50%;
    width: 800px;

    transform: translate(-50%, -50%);
    background: white;
    
    padding: 20px;
    border-radius: 10px;
}
.actions {
    display: flex;
    justify-content: flex-end;

    margin-top: 20px;
    gap: 10px;
}
