<header>
    <!-- Sistema de info + edição de página: logo, editar, ajuda e perfil -->
    <div class="taskPage-header side-padding">
        <div class="taskPage-info">
            <img class="synkdv-logo mouse-animation" src="assets/images/synkdv-logo.png" alt="logo do synkdv">
        </div>

        <div class="taskPage-info">
            <mat-icon class="groups-icon mouse-animation" (click)="openPopup('teamList')">groups</mat-icon>
            <mat-icon class="horizontal-threeDots mouse-animation" [matMenuTriggerFor]="foldersPageOptions">more_horiz</mat-icon>

            <mat-menu #foldersPageOptions="matMenu">
                <button mat-menu-item>
                    <mat-icon>palette</mat-icon>
                    Personalização da página
                </button>
            </mat-menu>

            <img class="profile-picture mouse-animation" 
                [src]="profile_picture" 
                alt="foto de perfil"
                [matMenuTriggerFor]="menu"
            >

            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="Configuracoes()">
                    <mat-icon>settings</mat-icon>
                    Configurações
                </button>
                <button mat-menu-item (click)="Logout()">
                    <mat-icon>logout</mat-icon>
                    Logout
                </button>
            </mat-menu>
        </div>
    </div>
</header>


<div class="menu-n-main-container">
    <div class="side-menu side-padding-areas modern-scroll">
        
        <mat-accordion class="games" [multi]="true" class="games">
            <mat-expansion-panel 
                hideToggle 
                [expanded]="panelOpenStates[i]"
                (opened)="togglePanel(i, true)"
                (closed)="togglePanel(i, false)"
                *ngFor="let game of games; let i = index"
            >
                <mat-expansion-panel-header>
                <mat-panel-title>
                    <span class="game-divisors"></span>
                    <div class="title-container">
                        <mat-icon class="gameTitle-icons mouse-animation">{{ panelOpenStates[i] ? 'expand_more' : 'chevron_right' }}</mat-icon>
                        <h2 class="game-texts game-title">{{ game.title }}</h2>
                        <mat-icon class="gameTitle-icons mouse-animation" (click)="disableContainerFatherPriority($event)" [matMenuTriggerFor]="gameOptionsMenu">more_horiz</mat-icon>
                        
                        <mat-menu #gameOptionsMenu="matMenu">
                            <button mat-menu-item>
                                <mat-icon>add</mat-icon>
                                Adicionar área
                            </button>
                            <button mat-menu-item>
                                <mat-icon>edit</mat-icon>
                                Editar Jogo
                            </button>
                        </mat-menu>

                    </div>
                </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="area-options-conainter" *ngFor="let area of game.areas">
                    <mat-icon class="checklist-icon" (click)="goToTasks()">checklist</mat-icon>
                    <p class="game-texts area-options">{{ area.title }}</p>
                    <mat-icon class="checklist-icon" [matMenuTriggerFor]="areaOptionMenu">more_horiz</mat-icon>

                    <!-- já coloquei dentro do ngFor para que quando tenha o backend eu consiga salvar o id da área no popup (importante pra chamar funções futuramente) -->
                    <mat-menu #areaOptionMenu="matMenu">
                        <button mat-menu-item>
                            <mat-icon>edit</mat-icon>
                            Editar área
                        </button>
                        <button mat-menu-item>
                            <mat-icon>delete</mat-icon>
                            Remover área
                        </button>
                    </mat-menu>
                </div>
            </mat-expansion-panel>
        </mat-accordion>




    </div>

    <div class="right-content-container">
        <div class="right-content">
            <div class="main-header">

                <div class="add-root-folder mouse-animation" [matMenuTriggerFor]="newRootMaterial">
                    <mat-icon class="main-header-icon">add_circle_outline</mat-icon>
                    <p class="add-root-folder-text">Novo</p>
                </div>

                <mat-menu #newRootMaterial="matMenu">
                    <button mat-menu-item>
                        <mat-icon>folder</mat-icon>
                        Adicionar Pasta
                    </button>
                    <button mat-menu-item>
                        <mat-icon>insert_drive_file</mat-icon>
                        Adicionar Arquivo
                    </button>
                </mat-menu>

                <div class="search-input-container">
                    <mat-icon matPrefix class="main-header-icon">search</mat-icon>
                    <mat-form-field class="search-input" appearance="outline">
                        <mat-label class="search-label">Pesquisar...</mat-label>

                        <!-- Ícone no início do input -->

                        <input class="search-input-text" matInput placeholder="Digite algo...">
                    </mat-form-field>
                </div>


            </div>

            <main class="modern-scroll">
                <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
                    <!-- This is the tree node template for leaf nodes -->
                    <mat-tree-node class="file-container" *matTreeNodeDef="let node" matTreeNodePadding>
                        <mat-icon class="file-icon">insert_drive_file</mat-icon>
                        <!-- use a disabled button to provide padding for tree leaf -->
                        <button class="file-button" matIconButton disabled></button>
                        <p class="file-name" (click)="openLink('https://material.angular.dev/components/form-field/examples')">{{node.name}}</p>
                        <mat-icon class="file-three-dots">more_vert</mat-icon>
                    </mat-tree-node>
                    <!-- This is the tree node template for expandable nodes -->
                    <mat-tree-node class="folder-container" *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding matTreeNodeToggle
                                    [cdkTreeNodeTypeaheadLabel]="node.name">
                        <button matIconButton matTreeNodeToggle
                                [attr.aria-label]="'Toggle ' + node.name">
                        <mat-icon class="mat-icon-rtl-mirror">
                            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                        </mat-icon>
                        <mat-icon class="folder-icon">
                            {{treeControl.isExpanded(node) ? 'folder' : 'folder_open'}}
                        </mat-icon>
                        </button>
                        {{node.name}}

                        <mat-icon class="folder-hover-options folder-add-icon mouse-animation" (click)="disableContainerFatherPriority($event)" [matMenuTriggerFor]="addChildrenContent">add</mat-icon>
                        <mat-icon class="folder-hover-options mouse-animation" (click)="disableContainerFatherPriority($event)" [matMenuTriggerFor]="treeCotainerOptions">more_vert</mat-icon>

                        <mat-menu #addChildrenContent="matMenu">
                            <button class="container-memberInfo" mat-menu-item>
                                <p class="add-members-title">Adicionar Pasta</p>
                                <mat-icon>folder</mat-icon>
                            </button>
                            <button class="container-memberInfo" mat-menu-item>
                                <p class="add-members-title">Adicionar Arquivo</p>
                                <mat-icon>insert_drive_file</mat-icon>
                            </button>
                        </mat-menu>

                        <mat-menu #treeCotainerOptions="matMenu">
                            <button class="container-memberInfo" mat-menu-item>
                                <p class="add-members-title">Remover Membro</p>
                                <mat-icon>remove</mat-icon>
                            </button>
                            <button class="container-memberInfo" mat-menu-item>
                                <p class="add-members-title">Editar Permissões</p>
                                <mat-icon>edit</mat-icon>
                            </button>
                        </mat-menu>

                    </mat-tree-node>
                </mat-tree>

            </main>
        </div>
    </div>
</div>





<app-generic-form
  [show]="popupOpen"
  [confirmBtn]="hasConfirmBtn"
  (close)="closePopup()"
  (confirm)="onConfirm()"
>

    <!-- POPUP: Criar Time -->
    <div id="addTeam" class="popupElements" [class.active]="currentPopup === 'addTeam'">

        <mat-icon 
            (click)="openPopup('teamList')" 
            class="addTeam-icon mouse-animation"
        >arrow_back_ios</mat-icon>

        <h2 class="popup-title">Criar Novo Time</h2>


        <!-- FORMULÁRIO DO TIME -->
        <form 
            #teamFormRef="ngForm"
            class="formPopup" 
            [formGroup]="teamForm" 
            (ngSubmit)="createTeam()"
        >
            <mat-form-field appearance="outline" class="full-width inputText-decoration">
                <mat-label style="color: var(--color-black)">Nome do Time</mat-label>
                <input matInput formControlName="name" placeholder="Digite o nome...">
            </mat-form-field>
        </form>
    </div>

    <!-- POPUP: Lista de Times -->
    <div id="teamList" class="popupElements" [class.active]="currentPopup === 'teamList'">
        <h2 class="popup-title">Seus Times</h2>

        <div *ngIf="myTeams.length; else noTeams" class="container-teamList">
            <ul>
                <li *ngFor="let team of myTeams" class="teamList">
                    <div class="teamList-noDivisor">
                        {{ team.name }}
                        <div>
                            <mat-icon class="teamList-icons team-members" [matMenuTriggerFor]="membersList" (click)="loadTeamMembers(team.id!)">supervisor_account</mat-icon>
                            <mat-icon class="teamList-icons delete-team" (click)="deleteTeam(team.id)">delete</mat-icon>
                        </div>
                    </div>
                    <span class="teamList-divisor"></span>
                </li>
            </ul>
        </div>

        <ng-template #noTeams>
            <p class="noTeamsErrorMessage">Você não tem times ainda.</p>
        </ng-template>

        <mat-icon 
            (click)="openPopup('addTeam')" 
            class="addTeam-icon mouse-animation"
        >add</mat-icon>
    </div>

    <mat-menu #membersList="matMenu">
        <button class="container-memberInfo" mat-menu-item (click)="openPopup('addMembers')">
            <p class="add-members-title">Adicionar<br>Membros</p>
            <mat-icon>add</mat-icon>
        </button>

        <button class="container-memberInfo" mat-menu-item *ngFor="let member of teamMembers" [matMenuTriggerFor]="removeMember">
            <img class="member-profilePicture" [src]="`http://localhost:3000${member.profile_picture}`" alt="foto de perfil do membro">
            <p class="member-name">{{member.username}}</p>

            <mat-menu #removeMember="matMenu">
                <button class="container-memberInfo" mat-menu-item (click)="removeUser(member.id)">
                    <p class="add-members-title">Remover Membro</p>
                    <mat-icon>remove</mat-icon>
                </button>
                <button class="container-memberInfo" mat-menu-item>
                    <p class="add-members-title">Editar Permissões</p>
                    <mat-icon>edit</mat-icon>
                </button>
            </mat-menu>
        </button>
    </mat-menu>




    <div id="addMembers" class="popupElements" [class.active]="currentPopup === 'addMembers'">
        <mat-icon 
            (click)="openPopup('teamList')" 
            class="addTeam-icon mouse-animation"
        >arrow_back_ios</mat-icon>

        <h2 class="popup-title">Adicionar Membro ao Time</h2>

        <form
            #teamFormRef="ngForm"
            class="formPopup"
            (ngSubmit)="findUserByEmail()"
        >
            <mat-form-field appearance="outline" class="full-width inputText-decoration">
                <mat-label style="color: var(--color-black)">Email</mat-label>
                <input [(ngModel)]="searchEmail" name="searchEmail" type="text" matInput placeholder="Digite o email do usuário">
            </mat-form-field>
        </form>
    </div>


</app-generic-form>
