// footer

:root{
    --bar-border: '0px';
    --progressText-left: '0px';
    --progressText-color: '--color-dark-gray-1';
}

::ng-deep .mat-expansion-panel-header {
    height: 80px !important;
    padding: 0 !important;
    width: 100%;
}

::ng-deep .mat-expansion-panel{
    border-radius: 0px !important;
    background-color: var(--color-dark-gray-1) !important;
    color: var(--color-white) !important;
}

::ng-deep .mat-expansion-panel-header-title, ::ng-deep .mat-expansion-panel-header-description {
    color: var(--color-white) !important;
    font-size: 24px;
}

::ng-deep .mat-expansion-indicator svg {
    fill: var(--color-white) !important;
    transform: scale(2);
}

// barras de progresso

// mat-content

::ng-deep .mat-expansion-panel-header{
    justify-content: space-between !important;

    box-shadow: inset 0 3px 0 0 var(--color-dark-gray-3);

}

.mat-expansion-panel-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    
}

.tasks-percentage-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding-right: 20px;
    width: 100%;
}

.bar1-container{
    margin-left: 20px;
}

.progress-bars-border {
    display: flex;
    justify-content: center;
    align-items: center;

    justify-self: center;

    // background-color: var(--color-black);
    width: 35vw;
    height: 35px;

    padding: 2.8px;

    border: solid var(--bar-color) 2px;


    border-radius: 4px;

}

// sistema do texto que fica dentro da barra de progresso
.progress-text {
    position: absolute;
    left: var(--progressText-left);
    color: var(--progressText-color);

    font-weight: bold;
    font-size: 15px;
    // left: 89.5vw;
}


.expandMore-icon {
    position: absolute;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 40px;
    width: 27px;
    height: 27px;
    font-weight: bold;

    transition: transform 0.08s ease-in-out;
}

.mouse-animation-G:hover{
    transform:scale(1.08);

    cursor: pointer;
}

.mouse-animation-G:active{
    transform: scale(0.95);
}

.in-progress-title{
    box-shadow:
        inset 0 3px 0 0 var(--color-dark-gray-3),   // topo
        inset 0 -3px 0 0 var(--color-dark-gray-3),  // baixo
        inset -3px 0 0 0 var(--color-dark-gray-3),  // direita
        inset 0px 0 0 0 var(--color-dark-gray-3);  // esquerda
    height: 100%;
    z-index: 12 !important;

   padding-left: 28px;
}


::ng-deep .mdc-linear-progress__bar-inner {
    border-radius: var(--bar-border);
}

::ng-deep .mat-content {
    height: 100% !important;
}


// extension panel:
::ng-deep .mat-expansion-panel-body{
    padding: 0 !important;
}

.expansion-panel-container{
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 100%;

}


.in-progress-container{
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;

    box-shadow: inset -3px 0 0 0 var(--color-dark-gray-3);

    margin-bottom: 15px;

}

// funcionamento das barras de progresso
::ng-deep .bar1 .mdc-linear-progress__bar-inner {
  border-color: var(--bar-color) !important;
}

::ng-deep .bar2 .mdc-linear-progress__bar-inner {
  border-color: var(--bar-color) !important;
}

.main-tasks-percentage{
    width: 100%;
    height: 100%;
}

.bar1-container {
    display: flex;
    align-self: center;
}


.personal-tasks-percentage{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100%;
}

.personal-bar-border{
    margin-top: 20px;
}

.tasks-count{
    text-align: center;
    font-size: 24px;
    margin: 0 0 40px 0;
}

.personal-tasks-count{
    margin-top: 20px !important;
}

.team-tasks-percentage{
    box-shadow: inset 0 -3px 0 0 var(--color-dark-gray-3);
    padding-bottom: 10px;
}



// estilização da tarefa em progresso

.inProgress-task-row1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 93%;

    margin-top: 20px !important;
}

.small-side-margin{
    margin: 0 30px;
}

.inProgress-task-title{
    font-size: 24px;
    margin: 0;
    width: 550px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.inProgress-task-date{
    font-size: 12px;
    margin: 0;
}


.inProgress-task-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;

    margin: 0;
}

.inProgress-task-buttons{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100px;
    height: 40px;
    border-radius: 9px;

    transition: transform 0.08s ease-in-out;

    margin-bottom: 15px;

    mat-icon{
        display: flex;
        text-align: center;
        font-weight: bold;

        font-size: 40px;
        width: 40%;
        height: auto;
    }
}

.inProgress-cancel-btn{
    border: solid var(--color-red) 3px;
    color: var(--color-red);
}

.inProgress-ok-btn{
    border: solid var(--color-lime) 3px;
    color: var(--color-lime);
}

.inProgress-task-info-container{
    display: flex;
    flex-direction: row;

}

.inProgress-exibition-image{
    width: 250px;
    margin-bottom: auto;
    margin-right: 25px;
}

.inProgress-task-description{
    margin-bottom: auto;
}

.inProgress-task-mainText{
    font-size: 18px;

    text-align: justify;
    margin: 0;
}

// tabela de integrantes a realizarem verificação na tarefa: aprovadores e consultores
.inpectionNames-table{
    display: flex;
    flex-direction: column;

    margin-top: 20px;
}

.inspectionNames-rows{
    display: flex;
    flex-direction: row;
}


.inspectionNames-rows > p {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 10px;
}

.consultores-text, 
.Aprovadores-text,
.consultoresNames-text,
.AprovadoresNames-text {
    font-size: 14px;
}

.consultores-text{
    box-shadow:
        inset 0 -1.5px 0 0 var(--color-white),
        inset -1.5px 0 0 0 var(--color-white),
}

.Aprovadores-text{
    box-shadow:
        inset 0 -1.5px 0 0 var(--color-white),
        inset 1.5px 0 0 0 var(--color-white),
}

.consultoresNames-text{
    box-shadow:
        inset 0 1.5px 0 0 var(--color-white),
        inset -1.5px 0 0 0 var(--color-white),
}

.AprovadoresNames-text{
    box-shadow:
        inset 0 1.5px 0 0 var(--color-white),
        inset 1.5px 0 0 0 var(--color-white),
}