.image-small {
    width: 22px;
    height: 22px;
}

.image-medium {
    width: 30px;
    height: 30px;
}

.image-large-xx {
    width: 35px;
    height: 35px;
}

.studdle-logo {
    width: auto;
    height: 100%;
    top: 0;
}
