
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;


/* Esse CSS serve somente para as cores, será importado para cada HTML e usado neles */
:root{
    --color-white: #FFFFFF;
    --color-light-gray: #D9D9D9;
    --color-light-gray-1: #B4B4B4;
    --color-gray: #5D5D5D;
    --color-dark-gray-0: #2E2D34;
    --color-dark-gray-1: #232227;
    --color-dark-gray-2: #202020;
    --color-dark-gray-3: #1A1A1A;
    --color-black: #000000;
    
    --color-red: #F6797B;
    --color-light-red: #FF917D;

    --color-orange: #F6B879;
    --color-light-orange: #F6C879;

    --color-lime: #8DCC67;
    
    --color-blue-0: #446aa2;
    --color-blue-1: #343048;
    --color-blue-2: #1C2331;

    --color-warning: #85322f;

    --color-sroll-0: #ffffff3f;
    --color-sroll-1: #ffffff8e;
    --color-sroll-hover: #ffffffc2;

    --color-hover-folder: rgba(255, 255, 255, 0.1);

    --color-active-area: rgba(255, 255, 255, 0.15);




    --dynamic-progress-color: #8dcc67;

  @include mat.progress-bar-overrides((
    track-height: 35px,
    active-indicator-height: 35px,
    active-indicator-color: var(--dynamic-progress-color),
    track-color: transparent,
  ));
}


.appRootStyle{
  display: block;
  height: 100% !important;
  width: 100%;
}

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--color-dark-gray-2);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;

  font-family: Roboto, "Helvetica Neue", sans-serif;
}
/* You can add global styles to this file, and also import other style files */



html, body{
    overflow: hidden;
    
    width: 100%;
    height: 100%;
    font-family: "Inter", sans-serif;

    color: var(--color-white);

    margin: 0;
}




app-tasks, app-folders{
  display: block;
  height: 100%;
}
app-folders{
  overflow: hidden;
}



// sistema de popup (está globalmente para evitar repetições desnecessárias)

.popup-title{
  font-size: 24px;
  color: var(--color-black);
}

.formPopup{
  display: flex;
  flex-direction: column;
}