// html,body{
//     width: 100%;
//     height: 100%;
//     margin: 0;
//     padding: 0;
//     flex-direction: flex;
//     flex-direction: row;
//     flex-wrap: wrap;

// }

.upload-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 8px;
    padding: 12px 18px;
    border-radius: 10px;
    font-weight: 600;
    text-transform: none;
    transition: background 0.2s, transform 0.15s;

    mat-icon {
        font-size: 22px;
    }

    &:hover {
        transform: translateY(-1px);
        filter: brightness(1.05);
    }

    &:active {
        transform: translateY(0);
        filter: brightness(0.95);
    }
}








header{
    height: 4.3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--color-dark-gray-2);
    border-bottom: solid var(--color-dark-gray-3) 3px;
}

.studdle-logo-header {
    height: 48px;
}



.translateYhover{
    transition: transform 0.08s ease-in-out;
    cursor: pointer;
}
.translateYhover:hover{
    transform:scale(1.03);
}

.side-padding {
    display: flex;
    justify-content: space-between;
    max-width: calc(100% - 140px);
    margin: 0 auto;
    padding: 0 70px;
}


// form

.textinput-container, .emailinput-container, .nameinput-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;

    background-color: var(--color-dark-gray-0);
    border: solid var(--color-dark-gray-2) 2px;
    margin: 10px 0;
    border-radius: 7px;

    color: var(--color-light-gray-1);
}

.container-input{
    width: 50%;
}



// .textinput-container{
//     margin-bottom: 21%;
// }

.mat-mdc-form-field{
    width: 95%;
    height: 55px;
    align-self: center;
    font-size: 20px;
}

::ng-deep .mat-mdc-text-field-wrapper {
    background-color: transparent;
    border-radius: 40px !important;
    border: none;
}


::ng-deep .mat-mdc-form-field-focus-overlay {
    background-color: rgba(0, 0, 0, 0.05) !important;
}


// remover a borda dos elementos
::ng-deep .mdc-text-field--outlined .mdc-notched-outline__leading,
::ng-deep .mdc-text-field--outlined .mdc-notched-outline__notch,
::ng-deep .mdc-text-field--outlined .mdc-notched-outline__trailing {
    border: none !important;
}

::ng-deep .mat-mdc-text-field-wrapper {
    background-color: transparent;
}

// remover borda do botão de ver senha:
::ng-deep .eye-button {
    background: none !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;

    transform: scale(1.6);

    color: var(--color-light-gray-1) !important;
}

// para alterar a cor do preview "email" e "senha" pra algo mais claro
mat-label{
    color: var(--color-light-gray-1) !important;
    font-size: 18px;

}

// remove a cor diferente lá daquela barra que exibe o local de edição que você está dentro do texto (aquela barra que fica piscando)
::ng-deep .mat-mdc-input-element {
    color: var(--color-light-gray-1) !important;
    caret-color: auto !important;
    font-size: 18px !important;
}


::ng-deep .mdc-floating-label--required:not(.mdc-floating-label--hide-required-marker)::after {
    content: "" !important;
}


// main containers
main{
    width: 100%;
    background-color: var(--color-blue-2);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-info{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 80vh;
    margin: 30px 0;

    background-color: var(--color-dark-gray-1);
    border-top: solid var(--color-dark-gray-3) 3px;
    border-bottom: solid var(--color-dark-gray-3) 3px;
}

.container-btn{
    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: space-between;

    width: 40%;
}



// título

h1{
    width: 100%;
    text-align: left;
    font-size: 24px;
    margin: 55px 0 0 0;
}

// info


.input-change-contents{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 100%;
    margin: 0;

}

.input-columns{
    width: 100%;
}

.input-columns-big{
    width: 30%;
}

.input-column-name{
    width: 100%;
    justify-content: flex-start !important;
}

.IC{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    margin: 0;
}

.input-title{
    font-size: 20px;
    text-align: left;
    width: 100%;
    margin: 40px 0 0 0;
}

.input-title-left{
    font-size: 20px;
    text-align: left;
    width: 100%;
    margin: 0;
}

// upload input
.input-upload, button, input{
    width: 100%;   
    height: 80px;
}

.input-text-container{
    display: flex;
    flex-direction: column;
    height: 67%;

    width: 100%;
}

#upload-icon{
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    font-size: 35px;
    width: auto;
    height: auto;
}


::ng-deep .mat-mdc-raised-button:not(:disabled){
    color: var(--color-light-gray-1) !important;
}

::ng-deep .mat-mdc-button-persistent-ripple {
    background-color: var(--color-dark-gray-0);
    border: dashed var(--color-light-gray-1) 2px;
    border-radius: 5px !important;
    height: 100%;
}

.input-upload{
    width: 700px;
    height: 170px;
}

.upload-btn:active{
    transform: scale(0.96);
}


::ng-deep .mat-mdc-raised-button:not(:disabled) {
    background-color: transparent !important;
}

// profile-picture
.profile-picture{
    height: 186px;
    width: 186px;
    border-radius: 400vw;

    border: solid var(--color-white) 4px;
}

.upload-title{
    text-align: center;
    margin: 12px 0;
}

.input-columns-upload{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.upload-info{
    margin-top: 50px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
}

// save changes button
.save-changes{
    border: solid var(--color-blue-0) 4px;
    color: var(--color-blue-0);
}

.cancel-changes{
    border: solid var(--color-gray) 4px;
    color: var(--color-gray);
    margin-left: 90px;
}

.delete-account{
    border: solid var(--color-red) 4px;
    color: var(--color-red);
    margin-left: auto;
    margin-top: 44px;

    background-color: transparent;

    border-radius: 13px;


    font-weight: bold;
    font-size: 14px;

    width: 9vw;
    height: 2.3vw;

    transition: 0.12s;
    cursor: pointer;

    user-select: none;
}

.main-top-layer{
    display: flex;
    flex-direction: row;

    width: 100%;
}

.save-changes, .cancel-changes {
    background-color: transparent;

    border-radius: 13px;
    margin-bottom: 40px;


    font-weight: bold;
    font-size: 18px;

    width: 15vw;
    height: 60%;

    transition: 0.12s;
    cursor: pointer;

    user-select: none;
}

.save-changes:hover{
    transform: translateY(-3px);
    // box-shadow: 0 0 8px var(--color-blue-0);
    // text-shadow: 0 0 8px var(--color-blue-0);
}

.cancel-changes:hover{
    transform: translateY(-3px);
    // box-shadow: 0 0 8px var(--color-gray);
    // text-shadow: 0 0 8px var(--color-gray);
}

.delete-account:hover{
    transform: translateY(-3px);
    box-shadow: 0 0 8px var(--color-warning);
    text-shadow: 0 0 8px var(--color-warning);
}


// footer

footer{
    background-color: var(--color-dark-gray-2);
    border-top: solid var(--color-dark-gray-3) 3px;

    height: 40px;
    width: 100%;
}


